<class="Container" 'col-md-6 col-md-offset-3'>
	<h1>Editing Property</h1>
	<%= render 'form' %>
	
	<%= link_to 'Show', @property, class: 'btn btn-default' %> | <%= link_to 'Back', properties_path, class: 'btn btn-default' %>
</class="Container">