<div class="row">
	<% @properties.each do |property| %>
		<%#<div class="col-sm-6 col-md-3"> %>
			<div class="controls">
				<%= link_to property.category.c_type %>
				<%= link_to property.city.ct_type %>
			</div> 
		<%#</div>%>
	<% end %>
</div>