<!DOCTYPE html>
<html>
  <head>
      <title>How to Javascript</title>
  </head>
  <body>
      <h1>Loan/Mortgage Calculator</h1>

      <p><b>Property Cost</b>: <input type="text" id="inCost" /></p>
      <p><b>Down Payment</b>: <input type="text" id="inDown" /></p>
      <p><b>APR (Interest)</b>: <input type="text" id="inAPR" /></p> 
      <p><b>Period (How Long)</b>: <input type="text" id="inPeriod" /></p> 
      <p><button id="btnCalculate">Calculate Payments</button></p>
      <hr/>
      <p><b>Total Monthly Payment(EMI)</b>: <span id="outMonthly" ></span></b></p>   
          
      <script>
          //The Code for mortgage

          // The formula: c= ((p * r) * Math.pow((1 + r), n)) / (Math.pow(1 + 4), n) -1) or (r * p)/ (1- (Math.pow((1+r), (-n) )))
          // @param p (float) Amount borrowed
          // @param r interest as a percentage
          // @param n term in years
            function calculateMortgage(p, r, n) {

                // Convert percentage to a decimal
                r = percentToDecimal(r);

                // Convert years to a months
                n = yearsToMonths(n);
                      
                var pmt = (r * p) / (1- (Math.pow((1 + r), (-n)))); 
                      
                return parseFloat(pmt.toFixed(2));
            }

            function percentToDecimal(percent) {
                return (percent/12)/100;
            }

            function yearsToMonths(year) {
                return year * 12;
            }

            function postPayments(payment) {
                var htmlEl = document.getElementById("outMonthly");

                htmlEl.innerText = "Rs" + payment;
            }

            var btn = document.getElementById("btnCalculate");            
            btn.onclick = function() {
                var cost = document.getElementById("inCost").value;

                  if (cost == "") {
                    alert("Please enter a cost amount");
                    return false;
                  }

                  if (cost < 0) {
                    alert("Invalid cost");
                    return false;
                  }

                var downPayment = document.getElementById("inDown").value;
                var interest = document.getElementById("inAPR").value;
                var term = document.getElementById("inPeriod").value;
                               
                var amountBorrowed = cost - downPayment;

                var pmt = calculateMortgage(amountBorrowed, interest, term); 

                postPayments(pmt);

            };

            
      </script>
  </body>  
</html>
  




    

